<div id="search-component">
  <h3>Airport Search for {{(paysref$ | async).name }} ({{code}})</h3>

  <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />

  <ul class="search-result">
    <li *ngFor="let airport of airports$ | async" >
      <a routerLink="/piste/{{airport.id}}">
        {{airport.name}} ({{airport.type}})
      </a>
    </li>
  </ul>
  </div>

  <div>
  <h3>Infinite scroll list of the {{totalAirportCount}} airports for {{(paysref$ | async).name }} ({{code}})</h3>

  <ul class="heroes" id="infinite-scroller" appInfiniteScroller scrollPerecnt="70" [immediateCallback]="true" [scrollCallback]="scrollCallback">
    <li *ngFor="let item of infinite_airports" >
      <a routerLink="/piste/{{item.id}}">
        <span class="badge">{{item.id}}</span> {{item.name}} ({{item.type}})
      </a>
    </li>
  </ul>
</div>

  <button (click)="goBack()">go back</button> &nbsp; <button (click)="goTop()">Top</button>
